# Creating a systemd service...

# Ref:
#
#   man systemd.service
#
#   https://askubuntu.com/questions/152403/how-do-i-make-changes-to-proc-acpi-wakeup-permanent
#
# Manually start, e.g.:
#
#   systemctl start laptop-lid-disable-wake.service

[Unit]
Description=Do not Wake from Suspend when Laptop LID is Opened
After=network.target

[Service]
ExecStart=/bin/bash -c '[[ $(cat /proc/acpi/wakeup | grep "^LID" | grep enabled) ]] && /bin/echo LID > /proc/acpi/wakeup'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=default.target

